### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [268]:
# Dependencies and Setup
import pandas as pd
import numpy as np
heros_df = pd.read_csv("HeroesOfPymoli_purchase_data.csv")

## Player Count

* Display the total number of players

In [269]:
total_players = len(heros_df["Purchase ID"].unique())

total_df = pd.DataFrame({"Total Players":[total_players]})
total_df

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [270]:
unique_items = len(heros_df["Item ID"].unique())
average_price = ("$"+str(round(heros_df["Price"].mean(),2)))
total_revenue = ("$"+str(heros_df["Price"].sum()))

summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                          "Average Price":[average_price],
                          "Number of Purchases":[total_players],
                          "Total Revenue":[total_revenue]})
                       
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [271]:
gender_group = heros_df.groupby("Gender")
gen_count = heros_df["Gender"].value_counts()
percent_gender = round(gen_count/total_players*100,2)
gender_count_df = pd.DataFrame({"Total Count":gen_count,
                                "Percentage of Player":percent_gender})
gender_count_df.style.format({"Percentage of Player":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [272]:
gender_group = heros_df.groupby("Gender")
purchase_count= gender_group["SN"].count()
avg_purchase_price = gender_group["Price"].mean()
total_purchase_value = gender_group["Price"].sum()
total_gen_count = gender_group.nunique()["SN"]
avg_total_pp = round(total_purchase_value/total_gen_count,2)

gender_summary= pd.DataFrame({"Purchase Count":purchase_count,
                             "Avg Purchase Price":round(avg_purchase_price,2),
                             "Total Purchase Value":total_purchase_value,
                             "Avg Total Purchase PP":avg_total_pp,})
gender_summary.style.format({"Avg Purchase Price":"${:.2f}",
                            "Total Purchase Value":"${:.2f}",
                            "Avg Total Purchase PP":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [239]:
age_range = [0,9.9,14.9,19.9,24.9,30.9,34.9,39.9,99999]
age_group = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

heros_df["Age Groups"]=pd.cut(heros_df["Age"],age_range, labels = age_group)

age_range_grouped = heros_df.groupby("Age Groups")
total_count = age_range_grouped["SN"].nunique()
percent_of_players = (total_count/total_players)*100
age_summary = pd.DataFrame({"Total Count": total_count,
                           "Percentage of Players":percent_of_players})
age_summary.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [245]:
age_purchase_count = age_range_grouped["SN"].count()
age_avg_pp = age_range_grouped["Price"].mean()
age_pv = age_range_grouped["Price"].sum()
age_avg_purchase_pp = age_pv/total_count
new_age_summary = pd.DataFrame({"Purchase Count": total_count,
                                "Average Purchase Price":age_avg_pp,
                                "Total Purchase Value":age_pv,
                                "Avg Total Purchase PP":age_avg_purchase_pp})
new_age_summary.style.format({"Average Purchase Price":"${:.2f}",
                             "Total Purchase Value":"${:.2f}",
                             "Avg Total Purchase PP":"{:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [253]:
sn_group = heros_df.groupby("SN")
sn_purchase_count= sn_group["SN"].count()
sn_avg_pp = sn_group["Price"].mean()
sn_total_purchase_value = sn_group["Price"].sum()

sn_summary = pd.DataFrame({"Purchase count":sn_purchase_count,
                          "Average Purchase Price":sn_avg_pp,
                          "Total Purchase Value":sn_total_purchase_value })

sn_summary_des = sn_summary.sort_values(["Total Purchase Value"],ascending=False).head(5)
sn_summary_des.style.format({"Average Purchase Price":"${:.2f}",
                            "Total Purchase Value":"${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [265]:
item_id = heros_df[["Item ID", "Item Name","Price"]]
item_df = heros_df.groupby(["Item ID","Item Name"])
item_purchase_count = item_df["Price"].count()
item_price= item_df["Price"].sum()
total_pv = item_purchase_count*item_price
item_summary = pd.DataFrame({"Purchase Count":item_purchase_count,
                            "Item Price":(item_price/item_purchase_count),
                            "Total Purchase Value":item_price})

item_summary_fm = item_summary.sort_values(["Purchase Count"],ascending=False).head(5)
item_summary_fm.style.format({"Item Price":"${:.2f}",
                             "Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [267]:
item_summary_fm = item_summary.sort_values(["Total Purchase Value"],ascending=False).head(5)
item_summary_fm.style.format({"Item Price":"${:.2f}",
                             "Total Purchase Value":"${:.2f}"})